<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/main.css" rel="stylesheet"/>
</head>
<body>
<h1>Neuer Mitarbeiter</h1>
<form class="form" action="/employees" method="post">
  <div class="margin-container">
    <label class="input-pair">Name:<input name="name" type="text" /></label>
    <label class="input-pair">Department:<input name="department" type="text" /></label>
    <label class="input-pair">Salary<input name="salary" type="text" /></label>
    <input class="submit" type="submit">
  </div>
</form>
</body>
</html>